/* 提问区切换详细信息和题目的动画 */
.QABlock-enter {
  opacity: 0;
}

.QABlock-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}

.QABlock-exit {
  opacity: 1;
}

.QABlock-exit-active {
  opacity: 0;
  transition: opacity 0.3s;
}
