.HomeMainAnimation-enter {
  opacity: 0;
}

.HomeMainAnimation-enter-active {
  opacity: 1;
  transition: opacity 0.2s;
}

.HomeMainAnimation-exit {
  opacity: 1;
  width: 100%;
}

.HomeMainAnimation-exit-active {
  opacity: 0;
  transition: opacity 0.2s;
}
